section.about 
	.container 
		+blockBox("What we do", "Story about us", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam error illo culpa magni facere nisi dicta beatae doloribus eligendi sit. Hic labore quaerat accusantium error voluptatum. Eligendi excepturi iure sapiente?")
		.about-list
			+aboutItem({
				src:"./images/img-about1.png", 
				title:"Flower", 
				icon:"fa fa-user"
			})
			+aboutItem({
				src:"./images/img-about2.png", 
				title:"Flower", 
				icon:"fa fa-heart"
			})
			+aboutItem({
				src:"./images/img-about3.png", 
				title:"Flower", 
				icon:"fa fa-home"
			})

			

		