section.service 
		.container
			+blockBox("We work with", "Amazing Service")
			.service-container
				.service-list 
					+serviceItem("../images/img-service-icon1.png", "Photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit.QUidfsfef to ig logo hi. Sint istuo neque conseaquitur.")
					+serviceItem("../images/img-service-icon2.png", "Web design", "Lorem ipsum dolor sit amet consectetur adipisicing elit.QUidfsfef to ig logo hi. Sint istuo neque conseaquitur.")
					+serviceItem("../images/img-service-icon3.png", "Creativity", "Lorem ipsum dolor sit amet consectetur adipisicing elit.QUidfsfef to ig logo hi. Sint istuo neque conseaquitur.")
				.service-list 
					+serviceItem("../images/img-service-icon4.png", "HTML/CSS", "Lorem ipsum dolor sit amet consectetur adipisicing elit.QUidfsfef to ig logo hi. Sint istuo neque conseaquitur.")
					+serviceItem("../images/img-service-icon5.png", "Javascript", "Lorem ipsum dolor sit amet consectetur adipisicing elit.QUidfsfef to ig logo hi. Sint istuo neque conseaquitur.")
					+serviceItem("../images/img-service-icon6.png", "Technique", "Lorem ipsum dolor sit amet consectetur adipisicing elit.QUidfsfef to ig logo hi. Sint istuo neque conseaquitur.")
				
		 
			