section.team 
    .container 
        +blockBox("Who we are", "Meet our team", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, deserunt? Architecto dolores consequuntur iure illo, vitae voluptas voluptatibus incidunt cumque! Dignissimos possimus quos, quis ea accusantium voluptatibus saepe debitis voluptate!")
        .team-list 
            +teamItem("../images/img-team1.png", "Duy Thai", "Junior Backend Developer")
                +teamSocial("#duythai")
            +teamItem("../images/img-team2.png", "Chirshstopper John", "Junior Frontend Developer")
                +teamSocial("#chrish")
            +teamItem("../images/img-team3.png", "Daniel Pettek", "Senior Devops")
                +teamSocial
section.brand 
    .container 
        img(src="../images/img-logos.png" alt="brands")